@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,400&family=Roboto:wght@100;300&family=Varela+Round&display=swap');

body {
    font-size: 20px;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.h1s{
    font-size: 3.9rem;
    padding-top: 5rem ;
    margin-left: 5.2rem;
    font-weight: 900px;
    color: #000;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 112.5%; /* 90px */
    letter-spacing: -4px;
    text-transform: uppercase;
}
.cur{
    position: relative;
    
    color: rgba(0, 0, 0, 0.00);
    font-family: Poppins;
    font-weight: 600;
    
    
    text-transform: uppercase;
   
    min-block-size:100vh;
    
    
    
    -webkit-background-clip: text;
    color: #000119;
    font-size: 15vmin;
    
    letter-spacing: 10px; 
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    /* text-shadow: 0 0 10px black; */
    
}
.approach{
    position: relative;
    background: linear-gradient(
        to right, #e90c9f, #94094a,
         #7007a0, #2a09e4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 12px; 
    font-size: 18vmin;
    padding-left: 20px;
}
.main {
    background-color: rgba(228, 195, 205, 0.4);
    height: 100vh;
  }
  
.para{
    font-size: 1.5rem;
    margin-top: 40px; 
    margin-left: 5.3rem;

}
.btn{
    font-size : 1.1rem;
    letter-spacing: 5px; 
    margin-top: 30px;
    margin-left: 5.3rem;
    border-radius: 20px;
    padding: 20px 36px;
    background-color: black;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

}
.btn:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
