@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,400&family=Roboto:wght@100;300&family=Varela+Round&display=swap');

body {
    font-size: 20px; /* Adjust to your preferred base font size */
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.h1s{
    font-size: 3.9rem;
    padding-top: 5.2rem ;
    margin-left: 5.2rem;
    font-weight: 900px;
}
.cur{
    position: relative;
    color:  rgb(213, 161, 161);
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.approach{
    position: relative;
    background: linear-gradient(
        to right, #e90c9f, #94094a,
         #7007a0, #2a09e4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.main{
    
    background-color: rgb(228, 195, 205);
    height: 100vh;
}
.para{
    font-size: 25;
    margin-top: 40px; 
    margin-left: 5.3rem;

}
.btn{
    font-size : 1.1rem;
    margin-top: 30px;
    margin-left: 5.3rem;
    border-radius: 20px;
    background-color:  rgb(25, 26, 25);
    color: rgb(204, 223, 223);
    cursor: pointer;
    padding: 18px 45px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;

}
.btn:hover{
    /* background-color:rgb(22, 20, 20);
    color: white;
    border: #191a17;
    padding: 20px 50px; */
    /* background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad; */
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

}
